[user]
	name = Connor McCarthy
	email = connor15mcc@gmail.com

[core]
	excludesfile = ~/.gitignore
  pager = delta

[commit]
  verbose = true

[interactive]
  diffFilter = delta --color-only

[init]
  defaultBranch = main

[merge]
  autoStash = true
  conflictstyle = zdiff3

[push]
  autoSetupRemote = true

[rebase]
  autoSquash = true
  autoStash = true

[diff]
  colorMoved = default
  algorithm = histogram

[delta]
  navigate = true
  light = false
  line-numbers = true
  side-by-side = true

[absorb]
  oneFixupPerCommit = true
  autoStageIfNothingStaged = true
