[user]
	name = Connor McCarthy
	email = connor15mcc@gmail.com

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[core]
	excludesfile = /Users/connormccarthy/.gitignore
  pager = delta

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[delta]
  navigate = true
  light = false
  line-numbers = true
  side-by-side = true
