layout {
  default_tab_template {
    children 
    pane size=1 borderless=true {
      plugin location="file:$HOME/.config/zellij/plugins/zjstatus.wasm" {
        format_left   "{mode} #[fg=#89B4FA,bold]{session}"
        format_center "{tabs}"
        format_right  "{datetime}"
        format_space  ""

        border_enabled  "false"

        mode_normal  "#[bg=blue] "
        mode_tmux    "#[bg=#ffc387] "

        // formatting for inactive tabs
        tab_normal              "#[fg=#6C7086] #{index}"
        tab_normal_fullscreen   "#[fg=#6C7086] #{index} {fullscreen_indicator}"

        // formatting for the current active tab
        tab_active              "#[fg=#9399B2,bold,italic] #{index}"
        tab_active_fullscreen   "#[fg=#9399B2,bold,italic] #{index} {fullscreen_indicator}"

        tab_fullscreen_indicator "[]"

        datetime        "#[fg=#6C7086,bold] {format} "
        datetime_format "%A %D @ %I:%M%P"
        datetime_timezone "America/New_York"
      }
    }
  }
}
